//
// Variables
//

$text-font: 'Roboto', sans-serif;

$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

$color-black: #000000;
$color-green: #00B5A9;
$color-yellow: #E6B82B;
$color-orange: #F77E0B;
$color-purple: #816CCE;