//
// Variables
//

// Font-family
$text-font: 'Source Sans Pro', sans-serif;

// Font-weight
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;

// Color
$color-black: #000000;
$color-gray-light: #DBDFE6;
$color-gray-dark: #91A1BB;
$color-orange-medium: #F9B784;
$color-orange-dark: #F69142;
$color-purple: #7E57C5;
$color-white: #FFFFFF;

// Screen Size
$width-small: 768px;
$width-large: 1024px;