//
// Header
//

@use '../abstracts//mixins' as mix;
@use '../abstracts/variables' as vars;

header {
  .header-container {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 1em auto;

    .logo-block {
      margin-left: 3em;

      .logo {
        width: 70%;
      }
    }

    nav {
      width: 30%;
      margin-top: 3em;
  
      ul {
        display: flex;
        justify-content: flex-end;
  
        li {

          &:last-child {
            margin-left: 20%;
          }

          a {
            font-size: 30px;
            font-weight: vars.$font-weight-black;
            color: vars.$color-black;
            padding: .05em .5em;
            border-radius: .3em;
            position: relative;

            &:hover,
            &:focus {
              background-color: vars.$color-orange-dark;
              color: vars.$color-white;
              
              &::after {
                @include mix.speechbubble();
              }
            }
          }

          a.active {
            //border-bottom: 5px solid vars.$color-orange;
            background-color: vars.$color-orange-dark;
            color: vars.$color-white;

            &::after {
              @include mix.speechbubble();
            }
          }
        }
      }
    }
  }
}