//
// Home
//

@use '../abstracts/mediamixins' as media;
@use '../abstracts/mixins' as mix;
@use '../abstracts/variables' as vars;

main {
  .intro {
    width: 85%;
    margin: 3em auto;
    display: flex;
    justify-content: space-between;
  
    .image-section {
      flex-shrink: 0;
      .home-intro {
        width: 700px;
      }
    }

    .text-section {
      width: 40%;
      margin-top: -2.5em;

      h1 {
        @include mix.title();
      }

      p {
        font-size: 16px;
        margin-top: -1em;
      }
    }
  }

  .orange-block {
    height: 980px;
    background-color: vars.$color-orange;
    width: 12.5%;
    position: absolute;
    z-index: -1;
    margin-top: -2em;
  }

  @include media.small {
    .orange-block {
      background-color: vars.$color-green;
    }
  }

  .workshops {
    h2 {
      @include mix.title(vars.$color-gray);
      margin-left: 7em;
    }

    .workshops-container {
      background-color: vars.$color-gray;
      width: 75%;
      margin-left: 13.1em;
      margin-top: -1em;
      padding: 2em 0 2em 7.5em;

      .workshops-cards {
        display: flex;
        justify-content: space-between;

        .workshops-card {
          width: 33%;

          p {
            width: 90%;
          }
        }
      }
    }
  }

  // .workshops-container {
  //   background-color: vars.$color-yellow;
  //   width: 82.5%;
  //   margin-top: -40em;

  //   .workshops-content {
  //     padding-left: 10em;
  //     padding-top: .5em;
  //     padding: .5em 1em 2em 10em;

  //     h2 {
  //       font-size: 49px;
  //       font-weight: vars.$font-weight-black;
  //       text-transform: uppercase;
  //     }

  //     .workshops-cards {
  //       display: flex;
  //       justify-content: space-between;

  //       .workshops-card {
  //         width: 33%;
  //       }
  //     }
  //   }
  // }
}