//
// Home
//

@use '../abstracts/variables' as vars;

main {
  .intro {
    width: 90%;
    margin: 3em auto;
    position: relative;

    .text-section {
      h1 {
        text-transform: uppercase;
        font-size: 48px;
      
        .yellow {
          color: vars.$color-yellow;
        }
        .green {
          color: vars.$color-green;
        }
        .orange {
          color: vars.$color-orange;
        }
      }
    
      p {
        width: 35%;
        font-size: 20px;
      }
    }

    

    .image-section {
      .img-meeting {
        position: absolute;
        top: -10px;
        right: -10px;
      }

      .img-desk {
        position: absolute;
        top: -10px;
        right: 225px;
      }

      .img-office {
        position: absolute;
        top: 225px;
        right: -10px;
      }
    }
  }

  .orange-block {
    height: 393px;
    background-color: vars.$color-orange;
    margin-top: 20em;
  }

  .workshops-container {
    background-color: vars.$color-yellow;
    width: 82.5%;
    margin-top: -40em;

    .workshops-content {
      padding-left: 10em;
      padding-top: .5em;
      padding: .5em 1em 2em 10em;

      h2 {
        font-size: 49px;
        font-weight: vars.$font-weight-black;
        text-transform: uppercase;
      }

      .workshops-cards {
        display: flex;
        justify-content: space-between;

        .workshops-card {
          width: 33%;
        }
      }
    }
  }
}