//
// Home
//

@use '../abstracts/mediamixins' as media;
@use '../abstracts/mixins' as mix;
@use '../abstracts/variables' as vars;

main {
  .intro {
    width: 85%;
    margin: 3em auto;
    display: flex;
    justify-content: space-between;
  
    .image-section {
      flex-shrink: 0;
      .home-intro {
        width: 700px;
      }
    }

    .text-section {
      width: 40%;
      margin-top: -2.5em;

      h1 {
        @include mix.title();
      }

      p {
        font-size: 16px;
        margin-top: -1em;
      }
    }
  }

  .orange-block {
    height: 980px;
    background-color: vars.$color-orange;
    width: 12.5%;
    position: absolute;
    z-index: -1;
    margin-top: -2em;
  }

  .workshops {
    h2 {
      @include mix.title(vars.$color-gray);
      margin-left: 7em;
    }

    .workshops-container {
      background-color: vars.$color-gray;
      width: 75%;
      margin-left: 12.5%;
      margin-top: -1em;
      padding: 2em 0 2em 7.5em;

      .workshops-cards {
        display: flex;
        justify-content: space-between;

        .workshops-card {
          width: 33%;

          p {
            width: 90%;
          }
        }
      }
    }
  }

  .team {
    h2 {
      @include mix.title();
      text-align: center;
      margin-top: 2em;
    }

    h3 {
      text-align: center;
      margin-top: -1.5em;
      font-size: 20px;
    }

    .team-container {
      width: 90%;
      margin: 10em auto 0 auto;

      .team-cards {
        display: flex;
        justify-content: space-between;
  
        .team-card {
          width: 15em;

          img {
            margin-top: -7.5em;
            width: 15em;
          }

          &:nth-child(odd) {
            background-color: vars.$color-gray;
          }
          
          &:nth-child(even) {
            background-color: vars.$color-orange;
          }

          .info {
            width: 90%;
            margin: -1em auto 0 auto;

            .name {
              font-size: 25px;
              font-weight: vars.$font-weight-bold;
            }

            h5 {
              font-size: 18px;
              font-weight: vars.$font-weight-bold;
            }

            ul {
              list-style-type: "- ";
              margin-left: -2em;
              margin-top: -1.5em;
              li {
                font-size: 18px;
              }
            }

            p {
              font-size: 18px;
              margin-top: -1.5em;
            }
          }
        }
      }
    }
  }
}