//
// Workshops Overview
//

@use '../abstracts/mixins' as mix;
@use '../abstracts/variables' as vars;

section.intro {
  h1 {
    @include mix.title();
    text-align: center;
  }

  .searchbar {
    background-color: vars.$color-gray-light;

    &-container {
      width: 90%;
      margin: 0 auto;
      padding: 2em 0;
      display: flex;

      .keyword {
        margin-right: 2em;
      }
    }
    
    label {
      display: block;
      font-size: 20px;
      font-weight: vars.$font-weight-bold;
    }

    input,
    select {
      width: 12.5em;
    }
  }
}

main.overview-page {
  width: 90%;
  margin: 0 auto;

  .workshops-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8em 1em;
    margin-top: 3em;

    .workshop {
      width: 100%;

      img {
        max-width: 100%;
        height: auto;
      }

      .title {
        font-size: 28px;
        font-weight: vars.$font-weight-bold;
      }

      .subtitle {
        font-size: 25px;
        font-weight: vars.$font-weight-bold;
        margin-top: -1em;
      }

      p {
        font-size: 18px;
      }

      .bold {
        font-weight: vars.$font-weight-bold;
      }

      // a {
      //   color: vars.$color-black;
      // }

      .btn {
        margin-top: 1em;
      }
    }
  }
}